{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}


{% block body %}
    <div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Добро Пожаловать!</h1>
      <p class="fs-5 text-body-secondary">Сегодня есть у нас для вас есть выгодные предложения</p>
    </div>
    <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Скидки</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">20<small class="text-body-secondary fw-light">%</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Молочные продукты</li>
              <li>Шезлонги</li>
              <li>Мангалы</li>
              <li>Шампуни</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Перейти к покупкам</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Накопительная система</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">5 товар <small class="text-body-secondary fw-light">бесплатно</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>5-й йогурт Danone</li>
              <li>5-й сыр бри</li>
              <li>5-ая вода Дарида</li>
              <li>5-ая шоколадка </li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Перейти к покупкам</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Социальные скидки</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">35 % <small class="text-body-secondary fw-light">до 15:00</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Колбасные изделия</li>
              <li>Хлебобулочные изделия</li>
              <li>Полуфабрикаты</li>
              <li>Овощи и фрукты</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Перейти к покупкам</button>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
